# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
MANIFEST
.eggs/

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
.Python
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/
*.iws
*.iml
*.ipr
out/

# Logs & databases
*.log
*.sql
*.sqlite

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Secrets
.env.local
.env.*.local
secrets.json
congigs/
*.pth
